absl-py
anyio
appnope
apsw
apswutils
arro3-core
arviz
arviz-base
arviz-plots
arviz-stats
asttokens
beautifulsoup4
blackjax
blinker
cachetools
certifi
cffi
cftime
chex
click
cloudpickle
comm
cons
contourpy
cryptography
cycler
debugpy
decorator
Deprecated
diffrax
donfig
equinox
etils
etuples
exceptiongroup
executing
fastcore
fastlite
fastprogress
filelock
fonttools
google-crc32c
graphviz
h11
httpcore2
httpx2
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jax
jaxlib
jaxopt
jaxtyping
jedi
jupyter_client
jupyter_core
kiwisolver
lazy-loader
lineax
llvmlite
logical-unification
markdown-it-py
matplotlib
matplotlib-inline
mdurl
miniKanren
ml_dtypes
mpmath
msgpack
multipledispatch
munkres
nest-asyncio2
netCDF4
numba
numcodecs
numpy
numpyro
nutpie
oauthlib
obstore
opt_einsum
optax
optimistix
packaging
pandas
parso
pexpect
pillow
pip
platformdirs
preliz
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow
pycparser
Pygments
PyJWT
pymc
pyparsing
pytensor
pytensor-distributions
python-dateutil
python-fasthtml
python-multipart
PyYAML
pyzmq
rich
scipy
seaborn
setuptools
six
soupsieve
stack_data
starlette
sympy
threadpoolctl
toolz
tornado
tqdm
traitlets
truststore
typing_extensions
unicodedata2
uvicorn
wadler_lindig
wcwidth
wheel
wrapt
xarray
xarray-einstats
zarr
zipp
